*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 576px;
    margin: 20px auto;
    font-size: 1.5rem;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* align-content: center; */
    text-align: center;
    margin-bottom: 30px;
    /* position: relative; */

}

.user{
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    /* align-items: center; */
    align-content: center;
    border: 1px solid rgb(193, 193, 193);
    /* color: red; */
    background-color: rgb(233, 233, 233);
}
.user:hover{
    cursor: pointer;
    transition: 0.2s ;
    color: rgb(219, 0, 0);
}
button{
    background-color: green;
    height: 35px;
    width: 80px;
    /* padding:10px; */
    border-radius: 8px;
    color: white;
}
button:hover{
    background-color: rgb(21, 52, 205);
    height: 45px;
    width: 90px;
    transition: 0.2s ;
    /* padding:10px; */
    border-radius: 8px;
    color: white;
    cursor: pointer;
    /* box-shadow: 10px; */
}
.menu{
    /* height: 40px; */
}
.icons{
    display: flex;
    align-items: center;
    padding: 5px;
    /* gap: 10px; */
}
.icons:hover{
    background-color: green;
    padding: 10px;
    transition: 0.2s ;
    /* gap: 10px; */
}
.icons a{
    /* list-style: none; */
    color: black;
    text-decoration: none;
}
.icons i{
    font-size: 20px;
    padding: 10px;
}

