*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 576px;
    margin: 20px auto;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: center; */
    text-align: center;
    margin-bottom: 30px;
    /* position: relative; */

}

.user{
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 50%;
    /* align-items: center; */
    align-content: center;
    border: 1px solid rgb(193, 193, 193);
    /* color: red; */
    background-color: rgb(233, 233, 233);
}
button{
    background-color: green;
    height: 32px;
    width: 65px;
    padding: px;
    border-radius: 5px;
    color: white;
}
.menu{
    /* height: 40px; */
}
.icons{
    display: flex;
    align-items: center;
    padding: 5px;
    /* gap: 10px; */
}
.icons a{
    /* list-style: none; */
    color: black;
    text-decoration: none;
}
.icons i{
    font-size: 20px;
    padding: 10px;
}

